* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Concert One', cursive;
    background: lightcoral;
}

/* HEADER */
header {
    display: flex;
    width: 100vw;
    height: min-content;
    padding: 10px;
    margin: auto;
    align-items: center;
    background: lightblue;

}

.logo-content {
    width: 150px;
    height: 100%;
    display: contents;
    background: lightgreen;
    overflow: auto;
}

.logo-content .logo-img {
    width: 30px;
    height: 30px;
}

.logo-img img {
    width: 100%;
    height: auto;
}

.logo-text {
    margin: 5px;
    color: lightcoral;
}

/* MAIN */
.main-content {
    background: lightcoral;
    width: 100vw;
    height: 90.9vh;
}

.display-timer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
    width: 200px;
    align-items: center;
}

.timer-buttons {
    display: flex;
    padding: 20px;
    margin: auto;
    justify-content: center;
}

.timer-btn {
    border-radius: 20px;
    width: 70px;
    background: #8f849c;
    border: 2px solid #8f849c;
    padding: 10px;
    font-family: 'Concert One', cursive;
    color: #ffffff;
    margin: 10px;
}
