* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Concert One', cursive;
    /* background: lightcoral; */
}

/* HEADER */
header {
    display: flex;
    width: 100vw;
    height: min-content;
    padding: 10px;
    margin: auto;
    align-items: center;
    background: lightblue;

}

.logo-content {
    width: 150px;
    height: 100%;
    display: contents;
    background: lightgreen;
    overflow: auto;
}

.logo-content .logo-img {
    width: 30px;
    height: 30px;
}

.logo-img img {
    width: 100%;
    height: auto;
}

.logo-text {
    margin: 5px;
    color: lightcoral;
}

/* MAIN */
.main-content {
    /* background: lightcoral; */
    width: 100vw;
    height: 90.9vh;
}

.display-timer{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
    height: 300px;
    align-items: center;
}

.timer-buttons {
    display: flex;
    padding: 20px;
    margin: auto;
    justify-content: center;
}

.timer-btn {
    border-radius: 20px;
    width: 70px;
    background: #8f849c;
    border: 2px solid #8f849c;
    padding: 10px;
    font-family: 'Concert One', cursive;
    color: #ffffff;
    margin: 10px;
}

.session-title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 40px;
    letter-spacing: 2px;
}

.display-remain-time {
  /* font-family: 'Roboto'; */
  font-family: 'Concert One', cursive;

  font-weight: 100;
  font-size: 65px;
  color: #F7958E;
  position: absolute;
  /* left: 75px;
  top: 105px; */
  /* text-align: center; */
  justify-content: center;
  margin-top: -190px;
  margin-left: 68px;

}

/* Circle Timer */
svg {
   -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.e-c-base {
  fill: none;
  stroke: #B6B6B6;
  stroke-width: 6px
}

.e-c-progress {
  fill: none;
  stroke: lightblue;
  stroke-width: 6px;
  transition: stroke-dashoffset 0.6s;
}

#e-pointer {
    transition: transform 0.6s;
}

#modal-container {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#modal {
    width: 500px;
    min-height: 300px;
    max-height: min-content;
    background: white;
    border-radius: 4px;
    padding: 25px;
    box-sizing: border-box;
}

#modal h4 {
    padding-bottom: 5px;
    padding-top: 15px;
}

#modal input {
    border-radius: 4px;
    border-color: grey;
    background-color: white;
    border-width: 1px;
    line-height: 25px;
    font-size: 15px;
    width: 450px;
    display: block;
}

/* The Close Button */
#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
